.inailport-window.inailport-fixed
  .inailport-titlebar
    .inailport-titlebar-title-panel Gestione OFA
  .inailport-window-content
    .inailport-news
      %ul
        %li
          .inailport-window-content-art
            Attraverso il monitoraggio di molteplici grandezze e indicatori tra di loro correlati, fornisce viste
            mirate sulle variabili degli andamenti produttivi e dei fenomeni in genere che interessano le attivit&agrave; istituzionali.
          .inailport-window-content-link-follow
            %a.inailport-window-content-link-follow-a{:href => "#", :title => "Accedi alla Home Page"} Accedi alla Home Page&nbsp;&gt;&gt;
.inailport-window.inailport-fixed
  .inailport-titlebar
    .inailport-titlebar-title-panel Cruscotto Economico Finanziario
  .inailport-window-content
    .inailport-news
      %ul
        %li
          .inailport-window-content-art
            Il Cruscotto Economico Finanziario &egrave; diretto ad agevolare il controllo direzionale mediante
            funzioni di supporto informativo e decisionale consentendo un puntuale monitoraggio dell'efficienza e dell'efficacia delle risorse assegnate,
            fornendo allo stesso tempo segnali di attenzione ai vari processi dell'Istituto.
          .inailport-window-content-link-follow
            %a.inailport-window-content-link-follow-a{:href => "#", :title => "Accedi alla Home Page"} Accedi alla Home Page&nbsp;&gt;&gt;
.inailport-window.inailport-fixed
  .inailport-titlebar
    .inailport-titlebar-title-panel Procedura O.R.S.O.
  .inailport-window-content
    .inailport-news
      %ul
        %li
          .inailport-window-content-art
            Procedura &quot;ORSO Obiettivi Risultati Scostamenti Opportunit&agrave;&quot; finalizzata a migliorare la fruibilit&agrave;
            del documento di valutazione dell'andamento produttivo di INAIL, da presentare agli organi, per la necessaria verifica trimestrale dell'attuazione della programmazione negoziata e riallineata.
          .inailport-window-content-link-follow
            %a.inailport-window-content-link-follow-a{:href => "/casainail/applicazioni/ambiente_orso.html", :title => "Accedi alla Home Page"} Accedi alla Home Page&nbsp;&gt;&gt;

