.inailport-window.inailport-fixed
  .inailport-titlebar
    .inailport-titlebar-title-panel Anagrafica Ditta
  .inailport-window-content
    .inailport-orso
      %a{:href => "#", :title=> "INAIL - Anagrafica Ditta"}
        %img{ :title => "Inail #{@title}", :src => "../../images/contents/anagrafica_ditta.gif", :alt => "Anagrafica Ditta" }
