%div{:class=>"inailport-window inailport-attention#{if (defined? closed) and closed then ' inailport-window-closed' end}"}
  .inailport-titlebar
    .inailport-titlebar-title-panel.inailport-titlebar-button-panel Avvisi Utenza
  .inailport-window-content
    .inailport-avvisi
      %p
        Consequatvel in suscipit ut facilisis feugiat
        amet, augue facilisi adipiscing magna,
        consectetuer in nisl euismod.
