%div{:class=>"inailport-window inailport-chromeless#{if (defined? closed) and closed then ' inailport-window-closed' end}"}
  .inailport-titlebar
    .inailport-titlebar-title-panel.inailport-titlebar-button-panel
      Calendario
  .inailport-window-content
    .inailport-calendario
      %a{:href=>"#",:title=>"calendario interattivo"}
        %img{:src=>"../../images/contents/calendar.gif",:alt=>"calendario",:title=>"calendario"}