%div{:class=>"inailport-window inailport-chromeless #{if (defined? closed) and closed then ' inailport-window-closed' end}"}
  .inailport-titlebar
    .inailport-titlebar-title-panel.inailport-titlebar-button-panel Le Nostre Campagne
  .inailport-window-content
    .inailport-media
      %img{:src => "../../images/contents/campagna.png", :title => "Le Nostre Campagne", :alt => "Le Nostre Campagne"}/
      %p.inailport-window-content-link-follow
        %a{:href => "#", :title => "Archivio Campagne"} Archivio Campagne&nbsp;&gt;&gt;
