.inailport-window.inailport-fixed
  .inailport-titlebar
    .inailport-titlebar-title-panel Anagrafica Ditta
  .inailport-window-content
    .inailport-news
      %ul
        %li
          .inailport-window-content-art
            Consente di visualizzare i dati anagrafici e classificativi della ditta.
          .inailport-window-content-link-follow
            %a.inailport-window-content-link-follow-a{:href => "/puntocliente/utilizza/consultazione_anagrafica.html", :title => "Accedi alla Home Page"} Accedi alla Home Page&nbsp;&gt;&gt;
.inailport-window.inailport-fixed
  .inailport-titlebar
    .inailport-titlebar-title-panel Contabile Ditta
  .inailport-window-content
    .inailport-news
      %ul
        %li
          .inailport-window-content-art
            Consente di visualizzare la situazione contabile della ditta.
          .inailport-window-content-link-follow
            %a.inailport-window-content-link-follow-a{:href => "#", :title => "Accedi alla Home Page"} Accedi alla Home Page&nbsp;&gt;&gt;
.inailport-window.inailport-fixed
  .inailport-titlebar
    .inailport-titlebar-title-panel Estratto DNA
  .inailport-window-content
    .inailport-news
      %ul
        %li
          .inailport-window-content-art
            Consente di effettuare l'estrazione della Denuncia Nominativa degli Assicurati pervenute all'INAIL.
          .inailport-window-content-link-follow
            %a.inailport-window-content-link-follow-a{:href => "#", :title => "Accedi alla Home Page"} Accedi alla Home Page&nbsp;&gt;&gt;
.inailport-window.inailport-fixed
  .inailport-titlebar
    .inailport-titlebar-title-panel Infortuni Danno Biologico
  .inailport-window-content
    .inailport-news
      %ul
        %li
          .inailport-window-content-art
            Consente di visualizzare e stampare le informazioni sugli infortuni e sulle prestazioni da Danno Biologico.
          .inailport-window-content-link-follow
            %a.inailport-window-content-link-follow-a{:href => "#", :title => "Accedi alla Home Page"} Accedi alla Home Page&nbsp;&gt;&gt;
.inailport-window.inailport-fixed
  .inailport-titlebar
    .inailport-titlebar-title-panel Stato Pratica
  .inailport-window-content
    .inailport-news
      %ul
        %li
          .inailport-window-content-art
            Consente a Ditte ed Intermediari di verificare lo stato di lavorazione delle pratiche inviate.
          .inailport-window-content-link-follow
            %a.inailport-window-content-link-follow-a{:href => "#", :title => "Accedi alla Home Page"} Accedi alla Home Page&nbsp;&gt;&gt;
