/[if !IE]
  footer: section C
  
#inailport-footer
  .inailport-footer-main
    .inailport-footer-logo
      .inailport-footer-logo-inail
        %a{:title=>"INAIL sito", :href=>"http://www.inail.it/"} INAIL sito
      .inailport-footer-logo-divisorio
    .inailport-footer-links
      %h2.inailport-hidden INAIL Footer Links
      .inailport-footer-links-1
        %h3.inailport-hidden INAIL per
        %div
          %ul
            %li
              %a{:title=>"L'INAIL", :href=>"http://www.inail.it/Portale/appmanager/portale/desktop?_nfpb=true&_pageLabel=PAGE_INAIL"} L'INAIL
            %li
              %a{:title=>"INAIL Comunica", :href=>"http://www.inail.it/Portale/appmanager/portale/desktop?_nfpb=true&_pageLabel=PAGE_COMUNICA"} INAIL Comunica
            %li
              %a{:title=>"Pubblicazioni e riviste", :href=>"http://www.inail.it/Portale/appmanager/portale/desktop?_nfpb=true&_pageLabel=PAGE_PUBBLICAZIONI"} Pubblicazioni e riviste
            %li
              %a{:title=>"Normativa ed atti ufficiali", :href=>"http://www.inail.it/Portale/appmanager/portale/desktop?_nfpb=true&_pageLabel=PAGE_NORMATIVA"} Normativa ed atti ufficiali
            %li
              %a{:title=>"Assicurazione", :href=>"http://www.inail.it/Portale/appmanager/portale/desktop?_nfpb=true&_pageLabel=PAGE_ASSICURAZIONE"} Assicurazione
      .inailport-footer-links-2
        %div
          %h3.inailport-hidden INAIL in caso di
          %ul
            %li
              %a{:title=>"Statistiche", :href=>"http://www.inail.it/Portale/appmanager/portale/desktop?_nfpb=true&_pageLabel=PAGE_STATISTICHE"} Statistiche
            %li
              %a{:title=>"Medicina e riabilitazione", :href=>"http://www.inail.it/Portale/appmanager/portale/desktop?_nfpb=true&_pageLabel=PAGE_MEDICINA"} Medicina e riabilitazione
            %li
              %a{:title=>"Patrimonio immobiliare", :href=>"http://www.inail.it/Portale/appmanager/portale/desktop?_nfpb=true&_pageLabel=PAGE_PATRIMONIO"} Patrimonio immobiliare
            %li
              %a{:title=>"Punto Cliente", :href=>"/puntocliente/leggi/index.html"} Punto Cliente
            %li
              %a{:title=>"Casellario Centrale Infortuni", :href=>"http://www.inail.it/Portale/appmanager/portale/desktop?_nfpb=true&_pageLabel=PAGE_CASELLARIO&titolo=Casellario%20Centrale%20Infortuni&link=http://casellario.inail.it/"} Casellario Centrale Infortuni
      .inailport-footer-links-3
        %h3.inailport-hidden INAIL tutte le prestazioni
        %div
          %ul
            %li
              %a{:title=>"Italiani all'estero", :href=>"http://www.inail.it/Portale/appmanager/portale/desktop?_nfpb=true&_pageLabel=PAGE_ITALIANI"} Italiani all'estero
            %li
              %a{:title=>"Casalinghe", :href=>"http://www.inail.it/Portale/appmanager/portale/desktop?_nfpb=true&_pageLabel=PAGE_CASALINGHE"} Casalinghe
            %li
              %a{:title=>"Sicurezza sul lavoro", :href=>"http://www.inail.it/Portale/appmanager/portale/desktop?_nfpb=true&_pageLabel=PAGE_SICUREZZA"} Sicurezza sul lavoro
            %li
              %a{:title=>"Sala Stampa", :href=>"http://www.inail.it/Portale/appmanager/portale/desktop?_nfpb=true&_pageLabel=PAGE_SALASTAMPA"} Sala Stampa        
  .inailport-footer-sidelinks
    %div
      %h2.inailport-hidden INAIL Footer Links - Side
      %ul
        %li
          %a{:title=>"Rivista degli infortuni e delle malattie professionali", :href=>"http://www.inail.it/Portale/appmanager/portale/desktop?_nfpb=true&_pageLabel=PAGE_OPENLINK&titolo=Rivista%20Infortuni&link=http://siti.inail.it/rivistainfortunimalattieprofessionali/home/home.asp"} Rivista degli infortuni e delle malattie professionali
        %li
          %a{:title=>"Sportello D.U.R.C.", :href=>"http://www.inail.it/Portale/appmanager/portale/desktop?_nfpb=true&_pageLabel=PAGE_COMUNICA&nextPage=info1491596811.jsp"} Sportello D.U.R.C.
        %li
          %a{:title=>"Contact center", :href=>"http://www.inail.it/Portale/appmanager/portale/desktop?_nfpb=true&_pageLabel=PAGE_INAIL&nextPage=info1572569926.jsp"} Contact center
        %li
          %a{:title=>"Centro protesi", :href=>"http://www.inail.it/Portale/appmanager/portale/desktop?_nfpb=true&_pageLabel=PAGE_MEDICINA&nextPage=REINSERIMENTO_SOCIALE_E_LAVORATIVO/Centro_Protesi/index.jsp"} Centro protesi
        %li
          %a{:title=>"Assunzione / Cessazioni", :href=>"http://www.lavoro.gov.it/CO/LM/ServiziMinistero/Standard/"} Assunzione / Cessazioni
        %li
          %a{:title=>"Risparmiare sul premio", :href=>"#"} Risparmiare sul premio
        %li
          %a{:title=>"Operazione trasparenza", :href=>"http://www.inail.it/Portale/appmanager/portale/desktop?_nfpb=true&_pageLabel=PAGE_INAIL&nextPage=Trasparenza_amministrativa/Operazione_trasparenza/index.jsp"} Operazione trasparenza
        %li
          %a{:title=>"Mettiamoci la faccia", :href=>"http://www.inail.it/Portale/appmanager/portale/desktop?_nfpb=true&_pageLabel=PAGE_INAIL&nextPage=Customer_Satisfaction/Mettiamoci_la_Faccia_-__Progetto_Emoticons_/index.jsp", :class=>"inailport-bold"} Mettiamoci la faccia
        %li
          %a{:title=>"Formazione sicurezza sul lavoro", :href=>"http://www.inail.it/Portale/appmanager/portale/desktop?_nfpb=true&_pageLabel=PAGE_COMUNICA&nextPage=Campagne/2007/Formazione_Sicurezza_sul_Lavoro/info-325356466.jsp"} Formazione sicurezza sul lavoro
        %li
          %a{:title=>"Progetto S.I.S.", :href=>"http://www.inail.it/Portale/appmanager/portale/desktop?_nfpb=true&_pageLabel=PAGE_SICUREZZA&nextPage=Approfondimenti/Progetto_S_I_S_/index.jsp"} Progetto S.I.S.
        %li
          %a{:title=>"Progetto Lavorare Sicuri", :href=>"http://www.inail.it/Portale/appmanager/portale/desktop?_nfpb=true&_pageLabel=PAGE_SICUREZZA&nextPage=Lavorare_Sicuri/index.jsp"} Progetto Lavorare Sicuri
        

  .inailport-footer-copyright
    Copyright &copy; 2010 INAIL | Partita IVA 00968951004 
    |
    /[if !IE]
      uncomment to reveal link for verifying that browser (IE) is not invoking quirks mode.
      <div>
      <p><a href="http://randsco.com/noJS.html" onclick="javascript:m= ( document.compatMode == 'CSS1Compat' ) ? 'Standards' : 'Quirks'; window.alert('Page rendered in '+m+'-mode.'); return false;" title=" Quirks-Mode Check ">Quirks-Mode Check</a></p>
      </div>
    %a{:title=>"Utilizza del sito", :href=>"#"} Utilizza del sito
    |
    %a{:title=>"Link", :href=>"#"} Link
    |
    %a{:title=>"Download", :href=>"#"} Download
  
  

