%div{:class=>"inailport-window #{if (defined? closed) and closed then ' inailport-window-closed' end}"}
  .inailport-titlebar
    .inailport-titlebar-title-panel.inailport-titlebar-button-panel
      Forum
  .inailport-window-content
    .inailport-forums
      .inailport-row-odd
        .inailport-forum-name
          Linea Amica
        .inailport-forum-stats
          Thread: 25 - Post: 62
        .inailport-forum-last-posted
          Ultimo intervento: Mario Rossi
      .inailport-row-even
        .inailport-forum-name
          Lavoro Nero
        .inailport-forum-stats
          Thread: xx - Post: xx
        .inailport-forum-last-posted
          Ultimo intervento: Mario Rossi
      .inailport-row-odd
        .inailport-forum-name
          Convenzione Onu
        .inailport-forum-stats
          Thread: xx - Post: xx
        .inailport-forum-last-posted
          Ultimo intervento: Mario Rossi
      .inailport-row-even
        .inailport-forum-name
          Autoliequidazione 2010
        .inailport-forum-stats
          Thread: xx - Post: xx
        .inailport-forum-last-posted
          Ultimo intervento: Mario Rossi
      .inailport-row-odd
        .inailport-forum-name
          Incedenti sul lavoro
        .inailport-forum-stats
          Thread: xx - Post: xx
        .inailport-forum-last-posted
          Ultimo intervento: Mario Rossi
      .inailport-row-even
        .inailport-forum-name
          Prevenzione
        .inailport-forum-stats
          Thread: xx - Post: xx
        .inailport-forum-last-posted
          Ultimo intervento: Mario Rossi
      .inailport-row-odd
        .inailport-forum-name
          Precariato
        .inailport-forum-stats
          Thread: xx - Post: xx
        .inailport-forum-last-posted
          Ultimo intervento: Mario Rossi