.inailport-window.inailport-chromeless
  .inailport-window-content
    .inailport-foto-apertura
      %img{ :title => "Inail #{@title}", :src => "../../images/contents/#{@photo}.png", :alt => "Inail #{@title}" }
