.inailport-window.inailport-chromeless
  .inailport-window-content
    .inailport-banner
      %a{:href => "/puntocliente/leggi/index.html", :title => "vai alla funzionalit&agrave; Punto Cliente"}
        %img{:alt => "vai alla funzionalit&agrave; Punto Cliente", :src => "../../images/contents/puntoclienteBTN_attivo.png", :title => "vai alla funzionalit&agrave; Punto Cliente"}/
