.inailport-window.inailport-fixed
  .inailport-titlebar
    .inailport-titlebar-title-panel La Mia Scrivania
  .inailport-window-content
    .inailport-strumenti
      %ul
        %li
          =link "Selfservice","https://selfservice.inail.it"
        %li
          =link "Calendario Eventi","http://applicazioniintranet.inail.it/Calendarioeventi/"
        %li
          =link "Gestione servizi intranet news, box sondaggi","http://intranet.inail.it/ServiziWeb/defaultgestione.asp"
        %li
          =link "Forum - Newsgroup","http://intranet.inail.it/applicazioni/forum/"
        %li
          =link "Contabilita' HR","http://cfhr.inailservizi.inail.pri:8000/"
        %li
          =link "Mutui On Line","http://intranet.inail.it/applicazioni/mutuionline/entry.asp"
        %li
          =link "Gruppi di lavoro SharePoint","http://intranet.inail.it/AreaInternet/gruppilavoro.htm"
        %li
          =link "Mailing List Pubbl.","http://intranet.inail.it/servizi/mailinglist/"
        %li
          =link "Statistiche","http://intranet.inail.it/Servizi/Statistiche/"
        %li
          =link "Procedure C.C.I.","http://casellario.inail.it/cci/Home/index.jsp"
        %li
          =link "Console di profilazione","http://profilazioneutente.inail.it/AreaRiservata.htm"
        %li
          =link "Gestione Utenti/Unita'","http://intranet.inail.it/applicazioni/GestioneProfilazione"
        %li
          =link "Minisito DCSIT","http://intranet.inail.it/StruttureCentrali/dcsit/"
      
      