.inailport-window.inailport-fixed
  .inailport-titlebar
    .inailport-titlebar-title-panel
      -if defined? title
        = title
      -else
        News    
  .inailport-window-content
    .inailport-news
      %ul
        %li
          %a{:href => "#", :title => "vai alla notizia Certificato Variazione"}
            \&quot;Certificato Variazione&quot; (21/04/2010)
          .inailport-window-content-art
            %p Dal 25 aprile verr&agrave; rilasciato in procedura GRAWEB il nuovo certificato di variazione, improntato a semplificazione e trasparenza.
          .inailport-window-content-link-follow
            %a.inailport-window-content-link-follow-a{:href => "#", :title => "Leggi tutto l'articolo"}
              Leggi tutto l'articolo&nbsp;&gt;&gt;
            .inailport-window-content-link-follow-tags
              %img{:alt => "votazione", :src => "../../images/contents/stellina_piena.png", :title => "votazione"}/
              %img{:alt => "votazione", :src => "../../images/contents/stellina_piena.png", :title => "votazione"}/
              %img{:alt => "votazione", :src => "../../images/contents/stellina_vuota.png", :title => "votazione"}/
              %img{:alt => "votazione", :src => "../../images/contents/stellina_vuota.png", :title => "votazione"}/
              %img{:alt => "votazione", :src => "../../images/contents/stellina_vuota.png", :title => "votazione"}/
        %li.inailport-window-content-foto
          %a{:href => "#", :title => "vai alla notizia Galleria Fotografica"}
            \&quot;Galleria Fotografica&quot; (20/04/2010)
          .inailport-window-content-art
            %a{:href => "#", :title => "vai alla notizia Galleria Fotografica"}
              %img{:alt => "foto notizia Galleria Fotografica", :src => "../../images/contents/news_galerriafotografica.jpeg", :title => "foto notizia Galleria Fotografica"}/
            %p Pubblicata nella sezione Area Community del portale intranet la &quot;Galleria Fotografica&quot;.
          .inailport-window-content-link-follow
            %a.inailport-window-content-link-follow-a{:href => "#", :title => "Leggi tutto l'articolo"}
              Leggi tutto l'articolo&nbsp;&gt;&gt;
            .inailport-window-content-link-follow-tags
              %img{:alt => "votazione", :src => "../../images/contents/stellina_piena.png", :title => "votazione"}/
              %img{:alt => "votazione", :src => "../../images/contents/stellina_piena.png", :title => "votazione"}/
              %img{:alt => "votazione", :src => "../../images/contents/stellina_vuota.png", :title => "votazione"}/
              %img{:alt => "votazione", :src => "../../images/contents/stellina_vuota.png", :title => "votazione"}/
              %img{:alt => "votazione", :src => "../../images/contents/stellina_vuota.png", :title => "votazione"}/
        %li.inailport-window-content-foto
          %a{:href => "#", :title => "vai alla notizia Cultura Sicurezza"}
            \&quot;Cultura Sicurezza&quot; (20/04/2010)
          .inailport-window-content-art
            %a{:href => "#", :title => "vai alla notizia Cultura Sicurezza"}
              %img{:alt => "foto notizia Cultura Sicurezza", :src => "../../images/contents/news_culturasicurezza.jpeg", :title => "foto notizia Cultura Sicurezza"}/
            %p &quot;Il Decreto Legislativo 81/08 nella Scuola: Indirizzi Interpretativi&quot; questo il tema del seminario che si terr&agrave; oggi a Foggia.
          .inailport-window-content-link-follow
            %a.inailport-window-content-link-follow-a{:href => "#", :title => "Leggi tutto l'articolo"}
              Leggi tutto l'articolo&nbsp;&gt;&gt;
            .inailport-window-content-link-follow-tags
              %img{:alt => "votazione", :src => "../../images/contents/stellina_piena.png", :title => "votazione"}/
              %img{:alt => "votazione", :src => "../../images/contents/stellina_piena.png", :title => "votazione"}/
              %img{:alt => "votazione", :src => "../../images/contents/stellina_vuota.png", :title => "votazione"}/
              %img{:alt => "votazione", :src => "../../images/contents/stellina_vuota.png", :title => "votazione"}/
              %img{:alt => "votazione", :src => "../../images/contents/stellina_vuota.png", :title => "votazione"}/
        %li
          %a{:href => "#", :title => "vai alla notizia Circolare n.16/2010"}
            \&quot;Circolare n.16/2010&quot; (20/04/2010)
          .inailport-window-content-art
            %p Pubblicata la circolare n.16 del 20 aprile 2010 &quot;Regolamenti Comunitari relativi al coordinamento dei sistemi di sicurezza sociale. Ambito di applicazione e primi indirizzi operativi&quot;.
          .inailport-window-content-link-follow
            %a.inailport-window-content-link-follow-a{:href => "#", :title => "Leggi tutto l'articolo"}
              Leggi tutto l'articolo&nbsp;&gt;&gt;
            .inailport-window-content-link-follow-tags
              %img{:alt => "votazione", :src => "../../images/contents/stellina_piena.png", :title => "votazione"}/
              %img{:alt => "votazione", :src => "../../images/contents/stellina_piena.png", :title => "votazione"}/
              %img{:alt => "votazione", :src => "../../images/contents/stellina_vuota.png", :title => "votazione"}/
              %img{:alt => "votazione", :src => "../../images/contents/stellina_vuota.png", :title => "votazione"}/
              %img{:alt => "votazione", :src => "../../images/contents/stellina_vuota.png", :title => "votazione"}/
        %li.inailport-window-content-foto
          %a{:href => "#", :title => "vai alla notizia Data Mart Aziende"}
            \&quot;Data Mart Aziende&quot; (14/04/2010)
          .inailport-window-content-art
            %a{:href => "#", :title => "vai alla notizia Data Mart Aziende"}
              %img{:alt => "foto notizia Data Mart Aziende", :src => "../../images/contents/news_datamartaziende.jpeg", :title => "foto notizia Data Mart Aziende"}/
            %p &quot;Da oggi &egrave; disponibile per gli utenti abilitati il nuovo Data Mart Aziende.
          .inailport-window-content-link-follow
            %a.inailport-window-content-link-follow-a{:href => "#", :title => "Leggi tutto l'articolo"}
              Leggi tutto l'articolo&nbsp;&gt;&gt;
            .inailport-window-content-link-follow-tags
              %img{:alt => "votazione", :src => "../../images/contents/stellina_piena.png", :title => "votazione"}/
              %img{:alt => "votazione", :src => "../../images/contents/stellina_piena.png", :title => "votazione"}/
              %img{:alt => "votazione", :src => "../../images/contents/stellina_vuota.png", :title => "votazione"}/
              %img{:alt => "votazione", :src => "../../images/contents/stellina_vuota.png", :title => "votazione"}/
              %img{:alt => "votazione", :src => "../../images/contents/stellina_vuota.png", :title => "votazione"}/
        %li.inailport-window-content-foto
          %a{:href => "#", :title => "vai alla notizia Manuale RLS"}
            \&quot;Manuale RLS&quot; (13/04/2010)
          .inailport-window-content-art
            %a{:href => "#", :title => "vai alla notizia Manuale RLS"}
              %img{:alt => "foto notizia Galleria Fotografica", :src => "../../images/contents/news_manualerls.jpeg", :title => "foto notizia Galleria Fotografica"}/
            %p Oggi a Bolzano presentazione del manuale &quot;La rappresentanza delle lavoratrici e dei lavoratori per la sicurezza&quot;
          .inailport-window-content-link-follow
            %a.inailport-window-content-link-follow-a{:href => "#", :title => "Leggi tutto l'articolo"}
              Leggi tutto l'articolo&nbsp;&gt;&gt;
            .inailport-window-content-link-follow-tags
              %img{:alt => "votazione", :src => "../../images/contents/stellina_piena.png", :title => "votazione"}/
              %img{:alt => "votazione", :src => "../../images/contents/stellina_piena.png", :title => "votazione"}/
              %img{:alt => "votazione", :src => "../../images/contents/stellina_vuota.png", :title => "votazione"}/
              %img{:alt => "votazione", :src => "../../images/contents/stellina_vuota.png", :title => "votazione"}/
              %img{:alt => "votazione", :src => "../../images/contents/stellina_vuota.png", :title => "votazione"}/
      / fine lista notizie  
      .inailport-window-content-link-follow
        %a.inailport-window-content-link-follow-a{:href => "#", :title => "Archivio sala stampa"} 
          Archivio 
          -if defined? title
            = title
          -else
            News           
          &nbsp;&gt;&gt;
        .inailport-window-content-link-follow-tags
          %span.bold Tag:&nbsp;
          %a{:href => "#"}
            %label Linea Amica,&nbsp;
          %a{:href => "#"}
            %label lavoro nero,&nbsp;
          %a{:href => "#"}
            %label Onu
