.inailport-window.inailport-fixed
  .inailport-titlebar
    .inailport-titlebar-title-panel Procedura O.R.S.O.
  .inailport-window-content
    .inailport-orso
      %a{:href => "#", :title=> "INAIL - ORSO"}
        %img{ :title => "Inail #{@title}", :src => "../../images/contents/orso.png", :alt => "Procedura ORSO" }
