%div{:class=>"inailport-window #{if (defined? closed) and closed then ' inailport-window-closed' end}"}
  .inailport-titlebar
    .inailport-titlebar-title-panel.inailport-titlebar-button-panel
      I pi&ugrave; visti
  .inailport-window-content
    .inailport-piu-visti
      %div
        Linea Amica chiude il suo primo anno all'insegna di 110mila casi trattati
        %div.inailport-window-content-link-follow
          = link "Leggi tutto l'articolo&gt;&gt;", "#",:class=>'inailport-link-follow'
      %div
        &quot;Chi non &egrave; regolare lavora di pi&ugrave; e guadagna di meno&quot;
        %div.inailport-window-content-link-follow
          = link "Leggi tutto l'articolo&gt;&gt;", "#"
      %div
        Convenzione Onu, Kosa: "Serve la ratifica di tutti i 27 stati membri"
        %div.inailport-window-content-link-follow
          = link "Leggi tutto l'articolo&gt;&gt;", "#"
