.inailport-window
  .inailport-titlebar
    .inailport-titlebar-title-panel.inailport-titlebar-button-panel Primo Piano | Dipendenti
  .inailport-window-content
    .inailport-primo-piano
      %ul
        %li
          = link 'Autoliquidazione 2010 &gt;&gt;','#'
        %li
          = link 'Il Centro Protesi INAIL cerca 15 collaboratori &gt;&gt;','#'

        %li
          = link 'Premio INAIL: oscillazione del tasso e inoltro istanze','#'
        %li
          = link 'Malattia professionale silicosi / asbestosi: denunce online','#'
      %p.inailport-window-content-link-follow
        %a{:href => "#", :title => "Archivio Primo Piano"} Archivio Primo Piano&nbsp;&gt;&gt;
