%div{:class=>"inailport-window inailport-chromeless #{if (defined? closed) and closed then ' inailport-window-closed' end}"}
  .inailport-titlebar
    .inailport-titlebar-title-panel.inailport-titlebar-button-panel
      Spazio MEDIA
  .inailport-window-content
    .inailport-media
      %img{ :title => "Spazio Media", :src => "../../images/contents/spazio_media.png", :alt => "Spazio Media" }
      %p.inailport-window-content-link-follow
        %a{ :href => "#", :title => "Archivio Spazio Media" }
          Archivio Spazio Media&nbsp;&gt;&gt;
