.inailport-window
  .inailport-titlebar
    .inailport-titlebar-title-panel.inailport-titlebar-button-panel Strumenti
  .inailport-window-content
    .inailport-strumenti
      %ul
        %li
          %a{:href => "#", :title => "vai alla funzionalit&agrave;"} Office Communicator
        %li
          %a{:href => "#", :title => "vai alla funzionalit&agrave;"} NetFax
        %li
          %a{:href => "#", :title => "vai alla funzionalit&agrave;"} PostaWeb
        %li
          %a{:href => "#", :title => "vai alla funzionalit&agrave;"} Servizi Web e Cooperazione Applicativa
        %li
          %a{:href => "#", :title => "vai alla funzionalit&agrave;"}
            Posta in arrivo:&nbsp;
            %span.inailport-bold 3
            \&nbsp;(1 non letta)&nbsp;
