.inailport-window.inailport-chromeless
  .inailport-window-content
    .inailport-banner
      %img{:alt => "Comunicazione unica d'impresa", :src => "../../images/contents/banner_Trasparenza.png", :title => "Trasparenza"}/
