-# assign variables
- @title = 'Skeleton'
- @wrapper_class = 'grid' #3 column grid
- @debug = 1
- @skeleton = 1
- @site_class = 'punto_cliente'

-# render markup
-# inline documentation
/[if !IE]
  DOC: $Id: grid.haml 373 2010-04-19 15:04:18Z bellis $
  
  Specifics:
  1024x768 resolution. page built using 960 pixel width layout, centered.
  3 column layout.
  
  To avoid IE6 Ghost Text Bug, any html comments between floated elements should be hidden from IE using the if !IE construct.
  Reference: http://www.toastedweb.si/docs/ie_ghost_text_bug_fix.html
  Reference: http://www.positioniseverything.net/explorer/dup-characters.html
  
  To avoid IE6 Quirks Mode, document should not emit an xml header.
  Reference: http://randsco.com/index.php/2007/03/12/about_quirks_mode
  (NB: webwasher blocks that address)

-# include header
=partial('includes/header_skeleton')
/[if !IE]
  content: section B
#inailport-content
  #inailport-content-inner
    /[if !IE]
      BOOK = sections B1, B2, B3 (left and middle column)
    #inailport-book
      #inailport-book-container
        /[if !IE]
          B1 - left and middle column
        #inailport-nav-main
          %div
            %p main navigation (horizontal) ...................................................................................etc.
        /[if !IE]
          B2 - left column
        #inailport-nav-section
          %div
            %p section navigation (vertical, lefthand column)
          %div
            %p lefthand column (placeholder 0)
        /[if !IE]
          B3 - middle column
        #inailport-main
          %div.inailport-box
            %p middle column (placeholder 1)
            %div more content...
    /[if !IE]
      B4 - righthand column
    #inailport-promo
      %div
        %p righthand column (placeholder 2)
      =# partial('includes/avvisi')
      =# partial('includes/primopiano')
-# include footer
=partial('includes/footer_skeleton')
