-# assign variables
- @title = 'Snippets'
- @wrapper_class = 'grid' #3 column grid
- @debug = 1
- @show_snippets = 1

-# render markup
-# inline documentation
/[if !IE]
  Snippets. Examples of CSS solutions...

-# include header
=partial('includes/header')
/[if !IE]
  content: section B
#inailport-content
  /[if !IE]
    BOOK = sections B1, B2, B3 (left and middle column)
  #inailport-book
    /[if !IE]
      B1 - left and middle column
    #inailport-nav-main
      %div
        %p main navigation (horizontal) ...................................................................................etc.
    /[if !IE]
      B2 - left column
    #inailport-nav-section
      %div
        %p section navigation (vertical, lefthand column)
      %div
        %p lefthand column (placeholder 0)
    /[if !IE]
      B3 - middle column
    #inailport-main
      %div.inailport-box
        %p middle column (placeholder 1)
        %div more content...
  /[if !IE]
    B4 - righthand column
  #inailport-promo
    %div
      %p righthand column (placeholder 2)
-# include footer
=partial('includes/footer')
