-# assign variables
- @title = 'Punto Cliente - Utilizza - Anagrafica Ditta'
- @wrapper_class = 'app' #2 column grid
- @site_class = 'punto_cliente'
= partial('includes/setup')
-# @site_class = 'punto_cliente'
- @portlets = {'left'=>[],'right'=>[],'middle'=>[]}

- @portlets['left'].push({'name'=>'campagne'})
- @portlets['left'].push({'name'=>'spazio_media'})

- @portlets['middle'].push({'name'=>'anagrafica'})




-# render markup
= partial('includes/page')
