-# assign variables
- @title = 'Utilizza - Consultazione'
- @wrapper_class = 'grid' #3 column grid
- @site_class = 'punto_cliente'
= partial('includes/setup')
-# @site_class = 'punto_cliente'
- @portlets = {'left'=>[],'right'=>[],'middle'=>[]}

- @portlets['left'].push({'name'=>'campagne'})
- @portlets['left'].push({'name'=>'spazio_media'})

- @portlets['middle'].push({'name'=>'consultazione_news'})

- @portlets['right'].push({'name'=>'avvisi_utenza','opts'=>{'closed'=>1}})
- @portlets['right'].push({'name'=>'banner'})
- @portlets['right'].push({'name'=>'primo_piano'})
- @portlets['right'].push({'name'=>'piu_ricercati'})


-# render markup
= partial('includes/page')
